**Nama : Risky Mul Tazam**

**Nim : G.231.22.0073**

**Membuat Program
dengan List**

In [1]:
# Buat list untuk menampung nama-nama teman
my_friends = ["Anggun", "Dian", "Agung", "Adi", "Adam"]

# Tampilkan isi list my_friends dengan nomer indeks 3
print("Isi my_friends indeks ke-3 adalah:", my_friends[3])

# Tampilkan semua daftar teman
print("Semua teman: ada", len(my_friends), "orang")
for friend in my_friends:
    print(friend)

Isi my_friends indeks ke-3 adalah: Adi
Semua teman: ada 5 orang
Anggun
Dian
Agung
Adi
Adam

**latihan 1 A**

In [2]:
#Deklarasi List
list_nilai = [1,2,3,4,5,6,7,8,9,10]

#tampilkan list
print("List Nilai : \n",list_nilai)

#menggunakan len
print("\nJumlah Index list nilai (len) : \n", len(list_nilai))

#menggunakan count
print("\nJumlah Nilai 5 Dalam List (count) : \n", list_nilai.count(5))

#Menggunakan append
print("\nMenambah element dalam list (append) : ")
list_nilai.append(12)
list_nilai.append(10)
print("List Nilai : ",list_nilai)

#Menggunakan index
print("\nIndex ke 8 (index) : \n", list_nilai.index(8))

#Menggunakan insert
list_nilai.insert(1,12)
print("\nTambah Nilai List (Insert) : \n", list_nilai)

#Menggunakan pop
list_nilai.pop()
list_nilai.pop()
print("\nList Nilai (pop) : \n",list_nilai)

#Menggunakan remove
list_nilai.remove(2)
list_nilai.remove(1)
print("\nList Nilai (remove) : \n", list_nilai)

List Nilai :
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Jumlah Index list nilai (len) :
 10

Jumlah Nilai 5 Dalam List (count) :
 1

Menambah element dalam list (append) :
List Nilai :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 10]

Index ke 8 (index) :
 7

Tambah Nilai List (Insert) :
 [1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 10]

List Nilai (pop) :
 [1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List Nilai (remove) :
 [12, 3, 4, 5, 6, 7, 8, 9, 10]

B

In [4]:
#Menggunakan extend
list_nilai2 = [4,3,8,7]
list_nilai.extend(list_nilai2)
print("\nList Nilai (extend : \n", list_nilai)
#Menggunakan reverse
list_nilai.reverse()
print("\nList Nilai (reverse) : \n", list_nilai)
#Menggunakan sort
list_nilai.sort()
print("\nList Nilai (sort) : \n", list_nilai)
#Menggunakan Max
print("\nNilai Terbanyak (max) : \n", max(list_nilai))
#Mengguankan min
print("\nNilai terendah (min) : \n", min(list_nilai))
#Menggunakan Sum
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(list_nilai))

List Nilai (extend :
 [3, 3, 4, 4, 5, 6, 7, 7, 8, 8, 9, 10, 12, 4, 3, 8, 7]

List Nilai (reverse) :
 [7, 8, 3, 4, 12, 10, 9, 8, 8, 7, 7, 6, 5, 4, 4, 3, 3]

List Nilai (sort) :
 [3, 3, 3, 4, 4, 4, 5, 6, 7, 7, 7, 8, 8, 8, 9, 10, 12]

Nilai Terbanyak (max) :
 12

Nilai terendah (min) :
 3

Total penjumlahan nilai dari list_nilai (sum) :
 108